@open-studio:registry=https://pkgs.dev.azure.com/open-studio/_packaging/npm-repo/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/open-studio/_packaging/npm-repo/npm/registry/:username=open-studio
//pkgs.dev.azure.com/open-studio/_packaging/npm-repo/npm/registry/:_password=a3YybXdleGlpcTZ4Z2trb2dweHh5cXg1bWh4cmJ2c3Vzc2Vob2t5eGFzem5raHZlcGRkYQ==
//pkgs.dev.azure.com/open-studio/_packaging/npm-repo/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/open-studio/_packaging/npm-repo/npm/:username=open-studio
//pkgs.dev.azure.com/open-studio/_packaging/npm-repo/npm/:_password=a3YybXdleGlpcTZ4Z2trb2dweHh5cXg1bWh4cmJ2c3Vzc2Vob2t5eGFzem5raHZlcGRkYQ==
//pkgs.dev.azure.com/open-studio/_packaging/npm-repo/npm/:email=npm requires email to be set but doesn't use the value
; end auth token